<div class="forest-checklist checklist">
  <h1 class="rounded">Other</h1>

  <app-list [name]="'Lon Lon Ranch'" [list]="ranchChecks" [color]="'yellow'" [era]="child"></app-list>

  <app-list [name]="'Hyrule Field'" [list]="fieldChecks" [color]="'yellow'"></app-list>

  <app-list [name]="'Lake Hylia'" [list]="lakeChecks" [color]="'blue'"></app-list>

  <app-dungeon-list [name]="dungeonSource + 'Water Temple'" [dungeonChecks]="4" [keyChecks]="7" [skullChecks]="5" [color]="'blue'" [era]="adult"></app-dungeon-list>
</div>
