.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.medallion-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.medallion-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 30%;
}

.medallion-column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 25% 0;
  width: 33.3%;
}

.medallion-column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 33.3%;
}

.blank {
  height: 30%;
}

.medallion {
  width: 70%;
  margin: 23.5% 0;
}

.stone {
  width: 85%;
  margin: 0;
}

.dungeon {
  width: 90%;
  margin-top: -40%;
  margin-bottom: 0;
}

.top-space {
  margin-top: 10%;
}
