<div class="forest-checklist checklist">
  <h1 class="rounded">Gerudo Desert</h1>

  <app-list [name]="'Gerudo Valley'" [list]="valleyChecks" [color]="'orange'"></app-list>

  <app-list [name]="'Gerudo Fortress'" [list]="fortressChecks" [color]="'orange'" [era]="adult"></app-list>

  <app-dungeon-list [name]="dungeonSource + 'Gerudo Training Grounds'" [dungeonChecks]="13" [keyChecks]="9" [color]="'orange'" [era]="adult"></app-dungeon-list>

  <app-list [name]="'Haunted Wasteland'" [list]="wastelandChecks" [color]="'orange'"></app-list>

  <app-list [name]="'Desert Colossus'" [list]="colossusChecks" [color]="'orange'"></app-list>

  <app-dungeon-list [name]="dungeonSource + 'Spirit Temple'" [dungeonChecks]="14" [keyChecks]="6" [skullChecks]="5" [color]="'orange'"></app-dungeon-list>
</div>
