<div class="equipment">
  <div class="equipment-column">
    <div class="equipment-row">
      <img class="item kokiri-sword" src="{{kokiriSword}}" alt="icon" (click)="toggleKokiriSword()"/>
      <img class="item master-sword" src="{{masterSword}}" alt="icon" (click)="toggleMasterSword()"/>
      <img class="item biggoron-sword" src="{{biggoronSword}}" alt="icon" (click)="toggleBiggoronSword()"/>
    </div>
    <div class="equipment-row">
      <img class="item deku-shield" src="{{dekuShield}}" alt="icon" (click)="toggleDekuShield()"/>
      <img class="item hylian-shield" src="{{hylianShield}}" alt="icon" (click)="toggleHylianShield()"/>
      <img class="item mirror-shield" src="{{mirrorShield}}" alt="icon" (click)="toggleMirrorShield()"/>
    </div>
    <div class="equipment-row">
      <img class="item kokiri-tunic" src="{{kokiriTunic}}" alt="icon"/>
      <img class="item goron-tunic" src="{{goronTunic}}" alt="icon" (click)="toggleGoronTunic()"/>
      <img class="item zora-tunic" src="{{zoraTunic}}" alt="icon" (click)="toggleZoraTunic()"/>
    </div>
    <div class="equipment-row">
      <img class="item kokiri-boots" src="{{kokiriBoots}}" alt="icon"/>
      <img class="item iron-boots" src="{{ironBoots}}" alt="icon" (click)="toggleIronBoots()"/>
      <img class="item hover-boots" src="{{hoverBoots}}" alt="icon" (click)="toggleHoverBoots()"/>
    </div>
  </div>
</div>
