<h2>Era</h2>
<div class="checkbox-group">
  <input id="child-era" name="era" type="checkbox" (click)="toggleChildEra()">
  <label for="child-era" (click)="toggleChildEra()">Child</label>
  <input id="adult-era" name="era" type="checkbox" (click)="toggleAdultEra()">
  <label for="adult-era" (click)="toggleAdultEra()">Adult</label>
</div>

<h2>Time</h2>
<div class="checkbox-group">
  <input id="child-time" name="time" type="checkbox" (click)="toggleDayTime()">
  <label for="child-time" (click)="toggleDayTime()">Day</label>
  <input id="adult-time" name="time" type="checkbox" (click)="toggleNightTime()">
  <label for="adult-time" (click)="toggleNightTime()">Night</label>
</div>
